<strong>Hello, {{ student }} </strong>
<p>Welcome to GymPoint, congratulations for you new course, lets start with your train</p>
<p>
  <strong>Student: </strong> {{ student }} <br />
  <strong>Date of start: </strong> {{ date }} <br />
  <br />
  <small>
    We rope you enjoy.
  </small>
</p>
